   <h1>Current order</h1> 
   <h3>Items</h3>


<table class="table table-striped">
  <thead class="thead-dark ">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity (in kg)</th>
      <th scope="col">Rate</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let veg of ownerItems">
      <th scope="row">{{veg.name}}</th>
      <td>{{veg.quantity}}</td>
      <td>{{veg.rate}}</td>
      <td>{{veg.total}}</td>
    </tr>
  </tbody>
</table>

<button class="getTotalButton" type="button" (click)="getTotal()" *ngIf="!totalValue"> Get Total</button>
<span *ngIf="totalValue>0">Total : {{totalValue}}
</span> 
<h4 class="getTotalButton"> Set Status</h4>
<mat-form-field appearance="fill">
  <mat-label>Status</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p>
<button type="button" (click)="back()"> back</button>
<button type="button" (click)="setStatus()"> Set Status</button>
</p>