   <h1>Current order</h1> 
   <h3>Items</h3>
<div *ngFor="let veg of ownerItems">
  <div class="itemList">  {{veg.name}} 
    <span class="itemGrid">qty (in Kg)</span> {{veg.quantity}}
    <span class="itemGrid">rate</span> {{veg.rate}}
    <span class="itemGrid">total</span> {{veg.total}}
    </div>

</div>
<button type="button" (click)="getTotal()"> Get Total</button>
<span *ngIf="totalValue>0"> {{totalValue}}
</span> 
<h4>Set Status</h4>
<mat-form-field appearance="fill">
  <mat-label>Status</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p>
<button type="button" (click)="back()"> back</button>
<button type="button" (click)="setStatus()"> Set Status</button>
</p>